* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #ddd;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(-45deg, #571845, #c70039);
    display: flex;
    flex-direction: column;
    padding: 20px 5px 0 20px;
    z-index: 100;
}

header h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
}

.scrollbox {
    overflow: auto;
    padding-right: 10px;
    visibility: hidden;
}

.scrollbox-inner, .scrollbox:hover {
    visibility: visible;
}

.scrollbox-inner p {
    font-size: 16px;
    color: #fff;
}

footer h2 {
    font-size: 24px;
    color: #fff;
    padding: 15px 0 40px;
    text-align: center;
}

.content {
    position: relative;
    left: 250px;
    width: calc(100% - 250px); /* sidebar (css width) => width: 250px */
    height: 100vh;
    background: yellowgreen;
    display: flex;
}

.content h2 {
    font-size: 46px;
    margin: auto;
    background: linear-gradient(-45deg, #571845, #c70039);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}